.title{
    color:   #4e357e;
    font-size: 50px;
    margin: 35%;
}

.newTeamName{
    color:#4e357e;
    font-size: 40px;
    text-align: center;
}

img{
    right:10px;
    top:25px;
    position:fixed;
    z-index:1;
}