@import url('https://fonts.googleapis.com/css?family=Alef&display=swap');

body{
    background-color:#d9b3ff;
    font-family: 'Alef', sans-serif;
    height: 100%;
}

button{
    color:rgb(131, 18, 206);
    background-color: transparent;
    font-size: large;
    width:9%;
    border-radius: 8px;
}
    @media only screen and (max-width: 600px) 
{
    body{
          width: 100%;
    }
    #img2{
        width: 60%;
        height: 60%;
        margin-right: 10px;
    }
    #bubble{
        width: 50%;
        height: 40%;
        margin-right: 15px;
    }
    #text{
        width: 40%;
        margin-left: 200px;
    }
}
